/*! normalize.sass v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

audio, canvas, progress, video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
  text-transform: none;
}

select {
  text-transform: none;
}

button, html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: 'Artegra Sans Extended';
  src: url("../fonts/ArtegraSansExLight.woff") format("woff"), url("../fonts/ArtegraSansExLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Artegra Sans Extended';
  src: url("../fonts/ArtegraSansExRegular.woff") format("woff"), url("../fonts/ArtegraSansExRegular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Artegra Sans Extended';
  src: url("../fonts/ArtegraSansExSemiBold.woff") format("woff"), url("../fonts/ArtegraSansExSemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Artegra Sans Extended';
  src: url("../fonts/ArtegraSansExBold.woff") format("woff"), url("../fonts/ArtegraSansExBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "Artegra Sans Extended", sans-serif;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.site {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: url(../images/cep.png) no-repeat left 913px, url(../images/program-bg2.png) no-repeat right 688px;
}

.site::before {
  position: absolute;
  content: '';
  top: 0;
  left: 50%;
  width: 100%;
  height: 100vh;
  min-width: 1440px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(../images/banner-bg.png) no-repeat center top/100% auto;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 1245px;
  margin: 0 auto;
  padding: 0 20px;
}

.socials-item {
  margin: 0 6px;
  width: 27px;
  height: 27px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials-item:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.socials-item img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.header {
  padding-top: 40px;
}

.header-menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header-menu li {
  padding: 0 22px;
}

.header-menu li a {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  position: relative;
  top: 0;
  padding-bottom: 4px;
}

.header-menu li a:hover {
  top: -4px;
}

.header-contacts {
  text-align: right;
}

.header-contacts-text {
  padding-left: 10px;
}

.header-phone {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}

.header-phone:hover {
  text-decoration: underline;
}

.header-mail {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 17px;
  color: #000000;
}

.header-mail:hover {
  text-decoration: underline;
}

.banner {
  position: relative;
  padding: 115px 0 30px;
}

.banner-title {
  width: 100%;
  margin: 0 0 55px;
  font-weight: 700;
  font-size: 52px;
  line-height: 56px;
  text-align: center;
  color: #000000;
}

.banner-title-sub {
  display: block;
  font-weight: 400;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 34px;
}

.banner-title-gray {
  color: #D7D7D7;
}

.banner-title-underline {
  position: relative;
  display: inline-block;
}

.banner-title-underline::before {
  position: absolute;
  content: '';
  z-index: -1;
  background: #DBD6FF;
  height: 32px;
  bottom: -10px;
  left: -5px;
  right: -5px;
}

.banner-img {
  display: block;
  width: 413px;
  height: 408px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: 0 auto;
  position: relative;
  left: 50px;
}

.banner-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner-btn {
  height: 56px;
  background: #FFFFFF;
  border: 1px solid #000000;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 30px;
  color: #000000;
  cursor: pointer;
  margin-bottom: 15px;
}

.banner-btn:hover {
  border-color: transparent;
  background: -webkit-linear-gradient(358.45deg, #6360FD 12.81%, #3E3BE2 100%), #FFFFFF;
  background: -o-linear-gradient(358.45deg, #6360FD 12.81%, #3E3BE2 100%), #FFFFFF;
  background: linear-gradient(91.55deg, #6360FD 12.81%, #3E3BE2 100%), #FFFFFF;
  color: #FFFFFF;
}

.banner-plash {
  position: absolute;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(163, 154, 230, 0.2);
          box-shadow: 0px 4px 20px rgba(163, 154, 230, 0.2);
  -webkit-border-radius: 20px;
          border-radius: 20px;
  width: 185px;
  padding: 14px;
}

.banner-plash1 {
  left: -10px;
  top: 115px;
  -webkit-transform: rotate(17deg);
      -ms-transform: rotate(17deg);
          transform: rotate(17deg);
}

.banner-plash3 {
  right: 70px;
  top: 170px;
  -webkit-transform: rotate(-13deg);
      -ms-transform: rotate(-13deg);
          transform: rotate(-13deg);
}

.banner-plash2 {
  left: 165px;
  top: 390px;
  -webkit-transform: rotate(-13deg);
      -ms-transform: rotate(-13deg);
          transform: rotate(-13deg);
}

.banner-plash-img {
  height: 158px;
  -webkit-border-radius: 14px;
          border-radius: 14px;
  overflow: hidden;
  margin-bottom: 12px;
}

.banner-plash-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-plash-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #858585;
}

.banner-plash-content-outer {
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #F4F4F4;
  -webkit-box-shadow: 0px 4px 20px rgba(163, 154, 230, 0.2);
          box-shadow: 0px 4px 20px rgba(163, 154, 230, 0.2);
  -webkit-border-radius: 16px;
          border-radius: 16px;
  top: 70px;
  right: 80%;
  padding: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #858585;
  width: 175px;
}

.banner-plash-content b {
  display: block;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 4px;
}

.banner-shape {
  position: absolute;
  z-index: -1;
  border: 1px dashed #686868;
  opacity: 0.3;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  left: 50%;
  top: -666px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.banner-shape1 {
  width: 1578px;
  height: 1578px;
}

.banner-shape2 {
  width: 1178px;
  height: 1178px;
  top: -467px;
}

.banner-shape3 {
  width: 603px;
  height: 245px;
  -webkit-transform: rotate(29.96deg) translateX(-50%);
      -ms-transform: rotate(29.96deg) translateX(-50%);
          transform: rotate(29.96deg) translateX(-50%);
  top: 325px;
  left: 48%;
}

.banner-shape4 {
  position: absolute;
  width: 25px;
  height: 25px;
  background: url(../images/icons.svg#star) no-repeat center/contain;
  top: 200px;
  left: -webkit-calc(50% + 294px);
  left: calc(50% + 294px);
}

.banner-shape5 {
  top: 423px;
  left: -webkit-calc(50% - 222px);
  left: calc(50% - 222px);
}

.program {
  position: relative;
  z-index: 3;
  padding: 144px 0 234px;
  overflow: hidden;
}

.program-wrapper {
  max-width: 1182px;
  z-index: 2;
}

.program-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.program-item {
  width: -webkit-calc(50% - 16px);
  width: calc(50% - 16px);
  margin-bottom: 16px;
}

.program-item-first {
  padding: 20px 85px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.program-item-last {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 235px;
  padding-top: 30px;
  position: relative;
}

.program-item-last-text {
  position: relative;
  z-index: 2;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.4);
}

.program-item-last-text b {
  display: block;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  color: #000000;
}

.program-item-last-img {
  position: absolute;
  top: -16px;
  left: -20px;
  width: 394px;
  height: 368px;
}

.program-item-last-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.program-item-container {
  background: rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0px 4px 20px rgba(163, 154, 230, 0.2);
          box-shadow: 0px 4px 20px rgba(163, 154, 230, 0.2);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  cursor: pointer;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  padding: 40px 45px 40px 55px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.program-item-container:hover, .program-item-container.active {
  background: #FFFFFF;
}

.program-item-container:hover .program-item-top, .program-item-container.active .program-item-top {
  color: #000;
}

.program-item-container:hover .program-item-btn, .program-item-container.active .program-item-btn {
  border-color: transparent;
  background: -webkit-linear-gradient(358.45deg, #6360FD 12.81%, #3E3BE2 100%);
  background: -o-linear-gradient(358.45deg, #6360FD 12.81%, #3E3BE2 100%);
  background: linear-gradient(91.55deg, #6360FD 12.81%, #3E3BE2 100%);
}

.program-item-container:hover .program-item-btn::after, .program-item-container:hover .program-item-btn::before, .program-item-container.active .program-item-btn::after, .program-item-container.active .program-item-btn::before {
  background: #fff;
}

.program-item-num {
  display: block;
  width: 62px;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #000000;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.program-item-content {
  -webkit-box-flex: 2;
  -webkit-flex-grow: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.program-item-top {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.4);
  padding-right: 70px;
  width: 100%;
}

.program-item-top b {
  display: block;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  color: #000000;
  margin-bottom: 7px;
}

.program-item-btn {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 40px;
  height: 40px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.program-item-btn::before, .program-item-btn::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 2px;
  background: #000000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.program-item-btn::after {
  width: 2px;
  height: 10px;
}

.program-item-text {
  margin-top: 24px;
  border: 1px dashed #000000;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 24px 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  width: 100%;
  display: none;
}

.program-title {
  font-weight: 700;
  font-size: 52px;
  line-height: 56px;
  color: #000000;
  margin: 0;
}

.program-title span {
  position: relative;
  display: inline-block;
}

.program-title span::before {
  position: absolute;
  content: '';
  z-index: -1;
  height: 19px;
  bottom: 0;
  background: #DBD6FF;
  width: 100%;
}

.program-shape {
  position: absolute;
  width: 938px;
  height: 938px;
  border: 1px dashed #686868;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -webkit-calc(100% - 55px);
  top: calc(100% - 55px);
  opacity: 0.5;
}

.program-shape2 {
  width: 1178px;
  height: 1178px;
  top: -webkit-calc(100% - 175px);
  top: calc(100% - 175px);
}

.program-shape3 {
  width: 25px;
  height: 25px;
  background: url(../images/icons.svg#star) no-repeat center/contain;
  position: absolute;
  top: -27px;
  left: -webkit-calc(50% - 175px);
  left: calc(50% - 175px);
}

.program-shape4 {
  left: -45px;
  top: 530px;
}

.tarif-shape {
  position: absolute;
  width: 25px;
  height: 25px;
  background: url(../images/icons.svg#star-white) no-repeat center/contain;
}

.tarif-shape1 {
  top: -35px;
  right: 195px;
}

.tarif-shape2 {
  left: -110px;
  top: 415px;
}

.tarifs {
  position: relative;
  z-index: 2;
}

.tarifs::before {
  position: absolute;
  content: '';
  bottom: -webkit-calc(100% - 200px);
  bottom: calc(100% - 200px);
  left: 50%;
  width: 100%;
  height: 100vh;
  min-width: 1440px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(../images/program-bg.png) no-repeat center top/100% auto;
}

.tarifs-wrapper {
  max-width: 946px;
}

.tarifs-container {
  position: relative;
  background: #090909;
  -webkit-border-radius: 60px;
          border-radius: 60px;
  padding: 70px 0 0;
}

.tarifs-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.tarifs-title {
  text-align: center;
  margin: 0 0 45px;
  font-weight: 700;
  font-size: 32px;
  line-height: 56px;
  color: #FFFFFF;
}

.tarifs-bg {
  top: -50px;
  position: absolute;
  right: -webkit-calc(50% - 750px);
  right: calc(50% - 750px);
}

.tarifs-bg2 {
  position: absolute;
  top: 225px;
  left: -webkit-calc(50% - 600px);
  left: calc(50% - 600px);
}

.tarif1, .tarif2 {
  width: -webkit-calc(50% - 16px);
  width: calc(50% - 16px);
}

.tarif1-container {
  background: -webkit-linear-gradient(340deg, #4c4192, rgba(128, 214, 176, 0.4));
  background: -o-linear-gradient(340deg, #4c4192, rgba(128, 214, 176, 0.4));
  background: linear-gradient(110deg, #4c4192, rgba(128, 214, 176, 0.4));
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding: 1px;
  margin-bottom: 24px;
}

.tarif1-content {
  background: #090909;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding: 35px 24px;
}

.tarif1-ps {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #4F4F4F;
}

.tarif1-btn {
  background: -webkit-linear-gradient(340deg, #4c4192, rgba(128, 214, 176, 0.4));
  background: -o-linear-gradient(340deg, #4c4192, rgba(128, 214, 176, 0.4));
  background: linear-gradient(110deg, #4c4192, rgba(128, 214, 176, 0.4));
  -webkit-border-radius: 8px;
          border-radius: 8px;
  padding: 1px;
  margin-bottom: 9px;
  cursor: pointer;
}

.tarif1-btn span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  height: 70px;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  background: #090909;
}

.tarif1-btn:hover {
  background: -webkit-linear-gradient(358.45deg, #6360FD 12.81%, #3E3BE2 100%);
  background: -o-linear-gradient(358.45deg, #6360FD 12.81%, #3E3BE2 100%);
  background: linear-gradient(91.55deg, #6360FD 12.81%, #3E3BE2 100%);
}

.tarif1-btn:hover span {
  background: transparent;
}

.tarif1-title {
  display: block;
  height: 56px;
  width: 100%;
  margin-bottom: 15px;
}

.tarif1-title span {
  display: none;
}

.tarif1-title img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.tarif1-item {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.tarif1-item:last-child {
  margin: 0;
}

.tarif1-item-img {
  height: 104px;
  width: 113px;
  margin-right: 32px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tarif1-item-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
}

.tarif1-item-text b {
  font-weight: 700;
  display: block;
}

.tarif2 {
  margin-bottom: -200px;
}

.tarif2-content {
  background: -webkit-linear-gradient(269.98deg, #D8E6FF 0.02%, #FFFFFF 99.98%);
  background: -o-linear-gradient(269.98deg, #D8E6FF 0.02%, #FFFFFF 99.98%);
  background: linear-gradient(180.02deg, #D8E6FF 0.02%, #FFFFFF 99.98%);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(70px);
          backdrop-filter: blur(70px);
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding: 30px 24px;
  margin-bottom: 24px;
}

.tarif2-title {
  display: block;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 70px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
}

.tarif2-item .tarif1-item-text {
  color: #000000;
}

.tarif2-item-text {
  margin-top: 10px;
  display: block;
  padding: 16px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 4px 20px rgba(163, 154, 230, 0.4);
          box-shadow: 0px 4px 20px rgba(163, 154, 230, 0.4);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  margin-right: -60px;
}

.tarif2-ps {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: rgba(0, 0, 0, 0.4);
}

.tarif2-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
  margin-bottom: 9px;
  background: -webkit-linear-gradient(358.45deg, #6360FD 12.81%, #3E3BE2 100%);
  background: -o-linear-gradient(358.45deg, #6360FD 12.81%, #3E3BE2 100%);
  background: linear-gradient(91.55deg, #6360FD 12.81%, #3E3BE2 100%);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.tarif2-btn:hover {
  background: #000000;
}

.author {
  position: relative;
}

.author-wrapper {
  position: relative;
  max-width: 1120px;
  padding: 240px 0 100px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.author-img {
  width: 402px;
  margin-right: 94px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  position: relative;
}

.author-img > img {
  display: block;
  width: 100%;
  height: auto;
}

.author-bg {
  position: absolute;
  top: 0;
  left: -160px;
}

.author-content {
  padding-top: 40px;
}

.author-name {
  display: block;
  font-weight: 700;
  font-size: 80px;
  line-height: 64px;
  color: #8CD2DD;
  opacity: 0.4;
  position: relative;
  left: -75px;
  margin-bottom: 24px;
}

.author-name-mobile {
  display: none;
}

.author-name span {
  position: relative;
  left: -75px;
}

.author-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.author-text p {
  margin: 0 0 24px;
}

.author-text b {
  font-weight: 600;
}

.author-text h3 {
  margin: 0 0 24px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #000000;
}

.author-plash {
  position: absolute;
  width: 185px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(163, 154, 230, 0.2);
          box-shadow: 0px 4px 20px rgba(163, 154, 230, 0.2);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  -webkit-transform: rotate(17deg);
      -ms-transform: rotate(17deg);
          transform: rotate(17deg);
  padding: 15px;
  right: 40px;
  bottom: -100px;
}

.author-plash-img {
  height: 157px;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-border-radius: 6px;
          border-radius: 6px;
}

.author-plash-img img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.author-plash-text {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.author-plash-text b {
  font-size: 16px;
  line-height: 24px;
  display: block;
  font-weight: bold;
}

.author-shape {
  position: absolute;
  width: 632px;
  height: 632px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  border: 1px dashed #686868;
  opacity: 0.5;
  top: 61%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -webkit-calc(100% - 20px);
  left: calc(100% - 20px);
}

.author-shape2 {
  width: 462px;
  height: 462px;
  left: -webkit-calc(100% + 65px);
  left: calc(100% + 65px);
}

.author-shape3 {
  width: 25px;
  height: 25px;
  background: url(../images/icons.svg#star) no-repeat center/contain;
  position: absolute;
  top: 295px;
  right: 90px;
}

.review {
  width: 470px;
  height: 304px;
}

.review-arrow {
  width: 124px;
  height: 124px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background: url(../images/icons.svg#video-arrow) no-repeat 40px center/58px 66px, rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.review-container {
  height: 100%;
  -webkit-border-radius: 8px;
          border-radius: 8px;
  overflow: hidden;
  -webkit-transform: scale(0.7);
      -ms-transform: scale(0.7);
          transform: scale(0.7);
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.review-container:hover img {
  -webkit-filter: none;
          filter: none;
}

.review-container img {
  display: block;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.review.slick-center .review-container {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.reviews {
  padding: 55px 0 95px;
}

.reviews-title {
  margin: 0 0 36px;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 56px;
  color: #000000;
}

.reviews-title span {
  position: relative;
  display: inline-block;
}

.reviews-title span::before {
  position: absolute;
  z-index: -1;
  content: '';
  height: 16px;
  bottom: 9px;
  left: 0;
  width: 100%;
  background: #DBD6FF;
}

.reviews-wrapper {
  max-width: 1340px;
}

.reviews-slider {
  margin-bottom: 32px;
}

.reviews-shape {
  position: absolute;
  width: 25px;
  height: 25px;
  background: url(../images/icons.svg#star) no-repeat center/contain;
  position: absolute;
  top: -50px;
  right: 202px;
}

.reviews-shape2 {
  left: 100px;
  top: auto;
  bottom: -140px;
}

.reviews-shape3 {
  top: auto;
  bottom: -30px;
  right: -50px;
}

.slick-arrow {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: url(../images/icons.svg#slider-arrow) no-repeat center/8px 14px;
  cursor: pointer;
  font-size: 0;
  color: transparent;
  outline: none;
  z-index: 2;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  top: 132px;
  left: -40px;
}

.slick-arrow:hover {
  background: url(../images/icons.svg#slider-arrow-hover) no-repeat center/8px 14px, -webkit-linear-gradient(358.45deg, #6360FD 12.81%, #3E3BE2 100%);
  background: url(../images/icons.svg#slider-arrow-hover) no-repeat center/8px 14px, -o-linear-gradient(358.45deg, #6360FD 12.81%, #3E3BE2 100%);
  background: url(../images/icons.svg#slider-arrow-hover) no-repeat center/8px 14px, linear-gradient(91.55deg, #6360FD 12.81%, #3E3BE2 100%);
}

.slick-next {
  left: auto;
  right: -40px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slick-dots {
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  bottom: -32px;
  left: 0;
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-dots button {
  font-size: 0;
  color: transparent;
  margin: 0 4px;
  padding: 0;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  background: #DBD6FF;
  cursor: pointer;
  border: none;
}

.slick-dots .slick-active button {
  background: #5350F1;
}

.footer {
  padding: 90px 0 35px;
}

.footer-wrapper {
  max-width: 1182px;
}

.footer-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-logo {
  display: inline-block;
  margin-bottom: 12px;
}

.footer-logo img {
  display: block;
  height: 32px;
  width: 234px;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer-logo-text {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
  margin-bottom: 24px;
}

.footer-logo-ps {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.footer-logo-ps2 {
  display: none;
}

.footer-right {
  text-align: right;
}

.footer-politic {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  text-align: right;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #000000;
}

.footer-politic:hover {
  text-decoration: none;
}

.footer-data {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.footer-phone {
  display: inline-block;
  font-weight: 600;
  font-size: 24px;
  line-height: 35px;
  color: #000000;
}

.footer-phone:hover {
  text-decoration: underline;
}

.footer-mail {
  display: inline-block;
  font-weight: 300;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
}

.footer-mail:hover {
  text-decoration: underline;
}

.footer-socials {
  margin-top: 18px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.footer-socials .socials-item {
  width: 36px;
  height: 36px;
  margin-right: 16px;
}

.footer-bg {
  position: absolute;
  content: '';
  bottom: 0;
  z-index: -1;
  left: 50%;
  width: 100%;
  height: 100vh;
  min-width: 1440px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url(../images/bottom-bg.png) no-repeat center bottom/100% auto;
}

.footer::before, .footer::after {
  position: absolute;
  content: '';
  width: 1226px;
  height: 1226px;
  -webkit-border-radius: 100%;
          border-radius: 100%;
  border: 1px dashed #686868;
  top: -webkit-calc(100% - 446px);
  top: calc(100% - 446px);
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  opacity: 0.5;
  z-index: -1;
}

.footer::after {
  top: -webkit-calc(100% - 695px);
  top: calc(100% - 695px);
  width: 1724px;
  height: 1724px;
}

.input {
  display: block;
  width: 100%;
  margin-bottom: 16px;
  height: 64px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-border-radius: 10px;
          border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  background: none;
  outline: none;
  text-align: center;
}

.input:focus, .input:active, .input:valid {
  border-color: #fff;
}

.input:focus + .label-span, .input:active + .label-span, .input:valid + .label-span {
  top: 3px;
  font-size: 10px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.3);
}

.input::-webkit-input-placeholder {
  opacity: 1;
  color: rgba(255, 255, 255, 0.4);
}

.input::-moz-placeholder {
  opacity: 1;
  color: rgba(255, 255, 255, 0.4);
}

.input:-ms-input-placeholder {
  opacity: 1;
  color: rgba(255, 255, 255, 0.4);
}

.input::-ms-input-placeholder {
  opacity: 1;
  color: rgba(255, 255, 255, 0.4);
}

.input::placeholder {
  opacity: 1;
  color: rgba(255, 255, 255, 0.4);
}

.label {
  position: relative;
  display: block;
}

.label-span {
  position: absolute;
  top: 22px;
  left: 0;
  width: 100%;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.submit {
  margin: 40px 0 13px;
  height: 72px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-linear-gradient(358.45deg, #6360FD 12.81%, #3E3BE2 100%);
  background: -o-linear-gradient(358.45deg, #6360FD 12.81%, #3E3BE2 100%);
  background: linear-gradient(91.55deg, #6360FD 12.81%, #3E3BE2 100%);
  -webkit-border-radius: 8px;
          border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.submit:hover {
  background: #FFFFFF;
  color: #000000;
}

.reviews2 {
  margin-top: 65px;
  margin-bottom: 94px;
}

.reviews2-next {
  display: inline-block;
  margin-top: 0;
  position: relative;
  top: -20px;
  margin-left: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #6360FD;
  cursor: pointer;
}

.reviews2-next i {
  display: inline-block;
  margin-left: 10px;
  width: 6px;
  height: 10px;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  background: url(../images/icons.svg#arrow-review) no-repeat center/contain;
}

.reviews2-next:hover {
  text-decoration: underline;
}

.reviews2-bg {
  position: absolute;
  z-index: -1;
  left: 45%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.reviews2-wrapper {
  max-width: 1067px;
}

.reviews2-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}

.reviews2-slider1 {
  width: -webkit-calc(100% - 407px);
  width: calc(100% - 407px);
  position: relative;
}

.reviews2-slider1-coin {
  position: absolute;
  z-index: 2;
  top: -65px;
  right: -55px;
}

.reviews2-slider1 .slick-arrow {
  top: -webkit-calc(50% - 20px);
  top: calc(50% - 20px);
}

.reviews2-slider1 .slick-prev {
  left: -64px;
}

.reviews2-slider1 .slick-next {
  right: -64px;
}

.reviews2-slider2 {
  width: 317px;
}

.reviews2-slide1 {
  padding-bottom: 40px;
}

.reviews2-slide1-container {
  border: 1px dashed #686868;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding: 44px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  position: relative;
}

.reviews2-slide1-container::after {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(57deg) skew(20deg);
      -ms-transform: rotate(57deg) skew(20deg);
          transform: rotate(57deg) skew(20deg);
  border-right: 1px dashed #686868;
  border-bottom: 1px dashed #686868;
  background: #fff;
  right: 100px;
  bottom: -21px;
}

.reviews2-slide1-container b {
  display: block;
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 32px;
  line-height: 24px;
}

.reviews2-slide2 {
  width: 317px;
}

.reviews2-slide2-container {
  width: 100%;
}

.reviews2-slide2-container img {
  display: block;
  width: 100%;
  height: auto;
}

.form-wrapper {
  max-width: 1240px;
}

.form-coin {
  position: absolute;
  top: -24px;
  right: -95px;
}

.form-block {
  position: relative;
  width: 670px;
  background: #090909;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding: 60px 86px;
  text-align: center;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  margin-right: 32px;
}

.form-block::before {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  top: 33px;
  right: 76px;
  background: url(../images/icons.svg#star-white) no-repeat center/contain;
}

.form-title {
  display: block;
  margin-bottom: 22px;
  font-weight: 600;
  font-size: 32px;
  line-height: 56px;
  color: #FFFFFF;
}

.form-ps {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.2;
}

.form-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
}

.form-content h3 {
  margin: 0 0 16px;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
  color: #000000;
}

.popup {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.popup.active {
  opacity: 1;
  visibility: visible;
}

.popup.active .popup-content {
  top: 0;
}

.popup-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #FFFFFF;
  opacity: 0.4;
}

.popup-content {
  position: relative;
  top: -50px;
  z-index: 2;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.popup-coin {
  top: -10px;
  left: -60px;
  position: absolute;
}

.popup-form {
  width: 500px;
  background: #090909;
  -webkit-box-shadow: 0px 0px 50px #FFFFFF;
          box-shadow: 0px 0px 50px #FFFFFF;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  padding: 50px 32px 35px;
  text-align: center;
}

.popup-form-white {
  background: #FFFFFF;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.popup-form-white .input {
  border-color: rgba(0, 0, 0, 0.3);
  color: #000;
}

.popup-form-white .input::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.popup-form-white .input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.popup-form-white .input:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.popup-form-white .input::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.popup-form-white .input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.popup-form-white .input:focus, .popup-form-white .input:active, .popup-form-white .input:valid {
  border-color: #000;
}

.popup-form-white .input:focus + .label-span, .popup-form-white .input:active + .label-span, .popup-form-white .input:valid + .label-span {
  opacity: 0.3;
  color: #000;
}

.popup-form-white .form-ps {
  color: #000000;
}

.popup-form-white .submit:hover {
  background: #000;
  color: #fff;
}

.popup-form-white .label-span {
  color: #000;
  opacity: 0.4;
}

.popup-form-white .popup-title, .popup-form-white .popup-subtitle {
  color: #000000;
}

.popup-title {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}

.popup-title span {
  text-decoration: underline;
}

.popup-subtitle {
  display: block;
  margin-bottom: 36px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #FFFFFF;
  position: relative;
}

.popup-subtitle::after {
  position: absolute;
  right: 5px;
  top: 15px;
  content: '';
  width: 45px;
  height: 45px;
  background: url(../images/icons.svg#popup-line) no-repeat center/contain;
}

@media screen and (max-width: 1350px) {
  .reviews-slider .slick-arrow {
    display: none !important;
  }
  .banner-plash2 {
    left: 200px;
    top: 460px;
  }
  .banner-plash1 {
    left: 50px;
    top: 140px;
  }
  .site::before {
    min-width: 0;
  }
}

@media screen and (max-width: 1170px) {
  .banner {
    padding-top: 60px;
  }
  .banner-plash {
    width: 30%;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .banner-plashes {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
  }
  .banner-plash2 .banner-plash-content {
    padding-bottom: 20px;
  }
  .banner-plash-content-outer {
    top: -webkit-calc(100% - 20px);
    top: calc(100% - 20px);
    left: 10px;
    width: -webkit-calc(100% - 20px);
    width: calc(100% - 20px);
  }
  .banner-title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
  }
  .banner-title-sub {
    font-size: 18px;
    line-height: 24px;
  }
  .banner-title-underline::before {
    height: 20px;
    bottom: -3px;
  }
  .banner-btn {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }
  .banner-img {
    left: 0;
    width: 100%;
    max-width: 350px;
    height: auto;
  }
  .program-title {
    font-size: 48px;
  }
  .program-item-container {
    padding: 30px;
  }
  .program-item-top {
    font-size: 14px;
    line-height: 18px;
  }
  .program-item-top b {
    font-size: 20px;
  }
  .program-item-text {
    font-size: 14px;
    line-height: 18px;
  }
  .program-item-last-text {
    font-size: 14px;
    line-height: 18px;
  }
  .program-item-last-text b {
    font-size: 20px;
  }
  .wrapper {
    padding: 0 16px;
  }
  .reviews-wrapper {
    padding: 0;
  }
}

@media screen and (max-width: 980px) {
  .header-menu {
    display: none;
  }
  .banner-img {
    width: 220px;
  }
  .banner-btn {
    background: -webkit-linear-gradient(358.45deg, #6360FD 12.81%, #3E3BE2 100%);
    background: -o-linear-gradient(358.45deg, #6360FD 12.81%, #3E3BE2 100%);
    background: linear-gradient(91.55deg, #6360FD 12.81%, #3E3BE2 100%);
    border: none;
    color: #fff;
    margin-bottom: 48px;
  }
  .site {
    background: url(../images/cep.png) no-repeat left 814px, url(../images/program-bg2.png) no-repeat right 688px;
  }
  .program-item-first {
    padding: 20px 30px;
  }
  .program-title {
    font-size: 36px;
    line-height: 1.3;
  }
  .author-wrapper {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .author-name {
    display: none;
  }
  .author-name-mobile {
    width: 100%;
    display: block;
    font-weight: 700;
    font-size: 40px;
    line-height: 32px;
    text-align: center;
    color: #8CD2DD;
    opacity: 0.4;
  }
  .author-img {
    margin: 0 auto;
  }
  .author-bg {
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .author-content {
    padding-top: 120px;
    width: 100%;
  }
  .reviews2-slide1-container {
    font-size: 14px;
    line-height: 18px;
  }
  .reviews2-slide1-container b {
    font-size: 20px;
  }
  .reviews2-next {
    top: 0;
  }
  .form-flex {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .form-content {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
        -ms-flex-order: -1;
            order: -1;
    width: 100%;
  }
  .form-block {
    margin: 30px auto 0;
  }
  .footer-logo {
    height: 13px;
    margin-bottom: 9px;
  }
  .footer-logo img {
    height: 100%;
    width: auto;
  }
  .footer-contacts {
    padding: 0 20px;
  }
  .footer-phone {
    font-size: 18px;
    line-height: 1;
    white-space: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .site {
    background: none;
  }
  .banner {
    padding-bottom: 0;
  }
  .banner-plash {
    width: 100%;
    max-width: 400px;
    margin-bottom: 24px;
  }
  .banner-plashes {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .banner-plash2 {
    margin-bottom: 90px;
  }
  .program {
    padding-top: 100px;
    margin-top: -32px;
    background: url(../images/program-mobile-top.png) no-repeat top right, url(../images/program-mobile-mid.png) no-repeat center 450px;
  }
  .program-item {
    width: 100%;
  }
  .tarifs-container {
    -webkit-border-radius: 34px;
            border-radius: 34px;
    padding: 65px 0;
  }
  .tarifs-title {
    font-size: 28px;
    line-height: 32px;
    margin-bottom: 23px;
  }
  .tarifs-list {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin: 0 auto;
    max-width: 400px;
  }
  .tarif1 {
    width: 100%;
    margin-bottom: 70px;
  }
  .tarif2 {
    width: 100%;
    margin: 0;
  }
  .tarif2-ps {
    color: #FFFFFF;
    opacity: 0.4;
    font-size: 14px;
  }
  .author::after {
    position: absolute;
    left: 0;
    bottom: -260px;
    width: 600px;
    height: 600px;
    z-index: -1;
    background: url(../images/author-mobile-bg.png) no-repeat bottom left/contain;
    content: '';
  }
  .author-wrapper {
    padding-top: 105px;
    padding-bottom: 45px;
  }
  .author-shape {
    opacity: 0.3;
  }
  .author-shape1 {
    top: 0;
    left: 50%;
    width: 616px;
    height: 616px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .author-shape2 {
    top: 50px;
    left: 50%;
    width: 492px;
    height: 492px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .author-name-mobile {
    max-width: 320px;
    text-align: center;
    margin: 0 auto;
  }
  .reviews-title {
    font-size: 28px;
    line-height: 32px;
  }
  .reviews-title span::before {
    bottom: -1px;
  }
  .reviews2-container {
    display: block;
  }
  .reviews2-next {
    display: none;
  }
  .reviews2-slider1 {
    width: 100%;
  }
  .reviews2-slider1-coin {
    width: 85px;
    height: 68px;
    right: -16px;
    top: -55px;
  }
  .reviews2-slider2 {
    width: 250px;
    margin: 0 auto;
  }
  .reviews2-slider2 .slick-arrow {
    border: none;
    -webkit-background-size: 15px 25px;
            background-size: 15px 25px;
  }
  .reviews2-slider2 .slick-prev {
    left: -50px;
  }
  .reviews2-slider2 .slick-next {
    right: -50px;
  }
  .reviews2-bg {
    width: 457px;
    height: 475px;
    bottom: -100px;
    top: auto;
    left: 50%;
    right: auto;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .form-content {
    font-size: 14px;
    line-height: 20px;
  }
  .form-content h3 {
    margin-bottom: 28px;
    font-size: 24px;
    line-height: 24px;
  }
  .form-block {
    width: 100%;
    padding: 45px 16px 25px;
  }
  .form-block::before {
    width: 16px;
    height: 16px;
    top: 24px;
    right: 32px;
  }
  .form-coin {
    width: 90px;
    height: 90px;
    left: 8px;
    top: -50px;
    right: auto;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .form-title {
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 28px;
  }
  .form-ps {
    font-size: 10px;
    line-height: 16px;
  }
  .input {
    height: 56px;
    margin-bottom: 8px;
  }
  .submit {
    margin-top: 16px;
  }
  .label-span {
    top: 20px;
  }
  .footer-flex {
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .footer-right {
    width: 100%;
    text-align: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer-politic {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
    margin-bottom: 0;
    font-size: 10px;
    line-height: 12px;
  }
  .footer-phone {
    font-size: 14px;
    line-height: 21px;
  }
  .footer-mail {
    font-size: 11px;
    line-height: 15px;
  }
  .footer-logo-block {
    width: 50%;
  }
  .footer-logo-text {
    font-size: 8px;
    line-height: 10px;
  }
  .footer-logo-ps {
    display: none;
  }
  .footer-logo-ps2 {
    display: block;
    text-align: center;
    margin-top: 12px;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    width: 100%;
    color: #000000;
    -webkit-box-ordinal-group: 6;
    -webkit-order: 5;
        -ms-flex-order: 5;
            order: 5;
  }
  .footer-socials {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .footer-socials .socials-item {
    width: 32px;
    height: 32px;
    margin-right: 0;
    margin-left: 8px;
  }
  .footer-contacts {
    width: 50%;
    padding: 0;
    text-align: right;
  }
  .footer-data {
    font-size: 8px;
    line-height: 12px;
    width: 100%;
    margin-bottom: 28px;
  }
  .footer-bg {
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
    min-width: 0;
    height: 400px;
  }
}

@media screen and (max-width: 480px) {
  .header-logo {
    display: block;
    width: 96px;
    height: 13px;
  }
  .header-logo img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .header-socials {
    display: none;
  }
  .header-contacts {
    position: relative;
    top: -5px;
  }
  .header-wrapper {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header-phone {
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
  }
  .header-mail {
    position: relative;
    top: -4px;
    font-size: 11px;
    line-height: 15px;
  }
  .site::before {
    height: 190px;
    -webkit-background-size: 100% 100%;
            background-size: 100% 100%;
  }
  .banner-title {
    margin: 0;
    font-size: 28px;
    line-height: 32px;
  }
  .banner-title-underline::before {
    height: 16px;
  }
  .banner-title-sub {
    margin-bottom: 17px;
    font-size: 16px;
    line-height: 23px;
  }
  .banner-img {
    margin-top: -20px;
  }
  .banner-btn {
    height: 72px;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    width: 100%;
    max-width: 360px;
  }
  .banner-shape3 {
    width: 260px;
    height: 103px;
    top: 200px;
  }
  .banner-shape4 {
    width: 19px;
    height: 19px;
    right: 34px;
    left: auto;
    top: 100px;
  }
  .banner-shape5 {
    display: none;
  }
  .banner-shape2 {
    width: 495px;
    height: 495px;
    top: -116px;
  }
  .banner-shape1 {
    width: 665px;
    height: 665px;
    top: -200px;
  }
  .program-shape3 {
    width: 16px;
    height: 16px;
    left: 16px;
    top: 0;
  }
  .program-shape4 {
    bottom: 0;
    top: auto;
    left: 0;
  }
  .program-shape2 {
    display: none;
  }
  .program-title {
    text-align: center;
    font-size: 28px;
    line-height: 32px;
  }
  .program-title span::before {
    height: 10px;
  }
  .program-item-container {
    padding: 24px;
  }
  .program-item-num {
    display: none;
  }
  .program-item-btn {
    width: 36px;
    height: 36px;
  }
  .program-item-top {
    padding-right: 40px;
    font-size: 14px;
    line-height: 16px;
  }
  .program-item-top b {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.3;
  }
  .program-item-last {
    padding: 24px;
    text-align: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .program-item-last-text {
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }
  .program-item-last-text b {
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
  }
  .program-item-last-img {
    top: 40px;
  }
  .tarif-shape1 {
    width: 16px;
    height: 16px;
    top: -25px;
    right: 25px;
  }
  .tarif1-content {
    padding: 30px 10px;
  }
  .tarif1-ps {
    font-size: 12px;
    line-height: 24px;
  }
  .tarif1-item-img {
    margin-right: 10px;
  }
  .tarif1-item-text {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
  }
  .tarif1-item-text b {
    font-weight: 600;
  }
  .tarif2-content {
    padding: 30px 10px;
  }
  .tarif2-ps {
    font-size: 12px;
    line-height: 24px;
  }
  .author-shape3 {
    width: 16px;
    height: 16px;
    right: 20px;
    top: 50px;
  }
  .author-bg {
    width: 634px;
    height: 720px;
  }
  .author-img {
    width: 320px;
    margin-left: -30px;
  }
  .author-plash {
    -webkit-transform: rotate(17deg) scale(0.75);
        -ms-transform: rotate(17deg) scale(0.75);
            transform: rotate(17deg) scale(0.75);
    right: 15px;
  }
  .author-text {
    font-size: 14px;
    line-height: 20px;
  }
  .author-text h3 {
    margin-bottom: 28px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
  }
  .reviews-shape1 {
    width: 16px;
    height: 16px;
    right: 30%;
    top: -80px;
  }
  .reviews-slider {
    display: block;
  }
}
/*# sourceMappingURL=main.css.map */